.text {
    position: relative;
width: 1440px;
height: 3706px;

background: #FFFFFF;
}
.q {
    position: absolute;
height: 118px;
left: 0%;
right: 0%;
top: 0px;

}
.w1 {
    position: absolute;
height: 47px;
left: 0%;
right: 0%;
top: 0px;
}
.w2 {
    position: absolute;
height: 71px;
left: 0%;
right: 0%;
top: 47px;
}
.w3 {
    position: absolute;
    height: 47px;
    left: 0%;
    right: 0%;
    top: 0px;
    
    background: #FBD7D0;
    border-radius: 0px; 
}
.w4 {
    position: absolute;
height: 47px;
left: 0%;
right: 0%;
top: 0px;
}
.w5 {
    position: absolute;
height: 47px;
left: 0%;
right: 0%;
top: 0px;

background: #B36050;
border-radius: 0px;
}
.w6 {
    position: absolute;
width: 288px;
height: 28px;
left: calc(50% - 288px/2);
top: 10px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;


text-align: center;

color: #F1D3B9;

}
.w7 {
    position: absolute;
height: 71px;
left: 0%;
right: 0%;
top: 0px;

background: #F6F4EC;
box-shadow: 0px 0px 3px #DDDDDD;
border-radius: 0px;
}
.w8 {
    position: absolute;
height: 61px;
left: 0%;
right: 0%;
top: 5px;

}
.w9 {
    position: absolute;
height: 61px;
left: 0%;
right: 0%;
top: 0px;

background: #F6F4EC;
border-radius: 0px;
}
.w10 {
    position: absolute;
height: 61px;
left: 0%;
right: 0%;
top: 0px;
}
.w11 {
    position: absolute;
height: 61px;
left: 70%;
right: 0%;
top: 0px;

}
.w12 {
    position: absolute;
width: 59px;
height: 25.62px;
right: 0px;
top: calc(50% - 25.62px/2);

}
.w13 {
    position: absolute;
width: 20px;
height: 22px;
left: calc(50% - 20px/2 - 7.5px);
top: 0.31px;

}
.w14 {
    position: absolute;
left: 1.24%;
right: 1.3%;
top: 2%;
bottom: 2.5%;

background: #000000;
}
.w15 {
    position: absolute;
width: 10px;
height: 18px;
left: calc(50% - 10px/2 + 12.5px);
top: calc(50% - 18px/2 - 0.5px);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;



color: #B4604D;

}
.w16 {
    position: absolute;
height: 23px;
left: 72.45%;
right: 15.51%;
top: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;



color: #B45F4D;

} 
.w17 {
    position: absolute;
height: 61px;
left: 0.56%;
right: 70%;
top: 0px;

}
.w18 {
    position: absolute;
width: 42px;
height: 29px;
left: calc(50% - 42px/2 - 177px);
top: calc(50% - 29px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;


text-transform: capitalize;

color: #B4604D;
}
.w19 {
    
position: absolute;
width: 76px;
height: 29px;
left: calc(50% - 76px/2 + 11px);
top: calc(50% - 29px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;


text-transform: capitalize;

color: #B4604D;

}
.w20 {
    position: absolute;
width: 68px;
height: 29px;
left: calc(50% - 68px/2 + 115px);
top: calc(50% - 29px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;


text-transform: capitalize;

color: #B4604D;
}
.w21 {
    position: absolute;
width: 69px;
height: 29px;
left: calc(50% - 69px/2 - 93.5px);
top: calc(50% - 29px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;


text-transform: capitalize;

color: #B4604D;
}
.w22 {
    position: absolute;
width: 120px;
height: 56px;
left: calc(50% - 120px/2);
top: 0px;

background: url(../imaages/image2.png);
border-radius: 0px;
}
.n1 {
    position: absolute;
height: 435px;
left: 0%;
right: 0%;
top: 117px;

}
.n2 {
    position: absolute;
height: 435px;
left: 0%;
right: 0%;
top: 0px;

background: url(../imaages/image3.png);
border-radius: 0px;
}
.m1 {
    height: 304;
    top: 552;
}
.b1 {
    background: #151611;
border-radius: 0px;
}
.b3 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 64px;
padding: 113 492 127;



color: #0c0a02;
}